/* Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all 0.5s ease;
}
/*--------*/

/* Oldal */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}

.box {
  background-color: rgba(50, 50, 50, 0.8); 
  padding: 20px;
  width: 40vw!important;
  min-width: 100px;
  max-width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(120, 120, 120);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
  color:azure;
  width: 50%;
  user-select: none;
}

.left{
  float: left;
  text-align: left;
  margin: 10px;
  font-size: 20px;
  text-decoration: underline;
}

.left p{
  margin-bottom: 35px;
}

img, a{
  -webkit-user-drag: none;
}
/*--------*/

/* Search box */
#searchbox {
  background-color: #171717;
  color: black;
  padding: 20px;
  margin-top: 25px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
  text-align: center;
  height: 85%;
}

#searchbox .row {
  display: flex;
  margin: auto;
  margin-bottom: 10px;
}

#searchbox .row .styled-link {
  background-color: rgb(77, 77, 77, 0);
  color: white;
  min-width: 110px;
  max-width: 110px;
  overflow: hidden;
  flex: 1;
  margin: 0 10px;
  position: relative;
  padding: 10px;
  transition: 0.5s all;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
}

#searchbox .row .styled-link:hover {
  background-color: rgb(129, 126, 126, 0.1);
}

#searchbox .row .styled-link img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

#searchbox .row .player-card .player-name {
  font-size: 14px;
  font-weight: bold;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  width: 0px;
}
/*-----*/

/* Navbar */
#logo:hover{
  height: 48.5px!important;
}

#about{
  min-width: 75%;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.navbar-nav .nav-link {
  background-color: rgb(10,10,10);
  border-radius: 5px;
  color:azure;
  width: 90px!important;
  text-align: center;
  margin: 0 5px;
  transition: 0.5s;
  font-size: 14px;
}

#logreg{
  width: 120px!important;
  margin: 5px;
}

#languagechanger{
  background-color: rgb(10,10,10);
  border-radius: 5px;
  color:azure;
  width: 90px!important;
  text-align: center;
  margin: 0 5px;
  transition: 0.5s;
  font-size: 14px;
  min-height: 35.6px;
}

.custom-nav{
  background-color: #171717;
}
.navbar-nav .nav-link:hover {
  background-color:rgb(255, 255, 255);
  color:rgb(0, 0, 0)!important;
  margin: 0 5px;
}

.center-logo {
  position: absolute;
  left: 50%;
  bottom: 15%;
  margin: 1px;
  transform: translateX(-50%);
}

#badge{
  height: 30px;
  bottom: -50%;
  pointer-events: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 9px;
  user-select: none;
}

.footer p{
  color: rgb(170,170,170);
}

.dropdown-item:hover{
  background-color: rgb(77, 77, 77)!important;
  color: rgb(255, 255, 255)!important;
}

/*--------*/
#snackbar {
  display: none;
  min-width: 250px;
  color: azure;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  transform: translateX(-50%);
}

#snackbar.show {
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.success {
  background-color: green;
}

#snackbar.error {
  background-color: red;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/*--------*/

/* Media */
@media (max-width: 1222px) {
  .center-logo{
    margin-left: 7.5%;
    height: 40px!important;
  }

  #searchbox .row .styled-link {
    min-width: 40%;
    max-width: 40%;
  }
}

@media (max-width: 1025px) {
  .navbar-nav {
    display: flex;
    flex-direction: row!important;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 50px;
  }

  #badge{
    height: 25px!important;
    bottom: -25%;
  }
  
  #kep{
    margin-top: 15px;
  }

  body{
    padding-bottom: 15vh;
  }

  .footer{
    font-size: small;
  }

  .navbar-nav .nav-link {
    margin: 5px;
    max-width: 75px;
  }
  #logreg{
    max-width: 100px;
    margin: 5px;
  }

  .center-logo {
    position: absolute;
    left: 50%;
    bottom: 25%;
    margin: 1px;
    transform: translateX(-50%);
    height: 40px !important;
  }

  #logo:hover{
    height: 38.5px!important;
  }

  .navbar-nav.ms-auto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-nav.ms-auto .nav-item {
    margin: 5px 0;
  }

  .navbar-nav.ms-auto .dropstart {
    margin: 10px 0;
  }

  .box{
    margin-top: -20vh;
    max-height: 60vh;
    min-width: 40vh;
    overflow: hidden;
    overflow-y: scroll;
  }

  /* Reszponzív mód */
  #searchbox .row .styled-link {
    min-width: 20%;
    max-width: 20%;
  }

  #searchbox .row .styled-link img {
    width: 30px;
    height: 30px;
  }
  
  .player-name {
    font-size: 8px ;
  }

  #rightnav{
    margin-top: 5vh;
  }

  .d-flex {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 380px){
  #searchbox .row .styled-link {
    min-width: 20%;
    max-width: 20%;
  }

  #searchbox .row .styled-link img {
    width: 25px;
    height: 25px;
  }
  
  .player-name {
    font-size: 8px;
  }
}