@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
  font-family: "Russo One", serif;
  font-weight: 400;
  font-style: normal;
  transition: all 0.5s ease;
}


img, a{
  -webkit-user-drag: none;
}

/*Oldalra*/
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}

.box {
  background-color: rgb(128, 128, 128, 0.8); 
  padding: 20px;
  width: 40vw!important;
  min-width: 100px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color:white;
  width: 50%;
  user-select: none;
}

.left{
  float: left;
  text-align: left;
  margin: 10px;
  font-size: 20px;
  text-decoration: underline;
}

.left p{
  margin-bottom: 35px;
}

/*Keresőhöz*/
#searchbox {
  background-color: white;
  color: black;
  padding: 20px;
  margin-top: 25px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
  text-align: center;
  height: 85%;
}

#searchbox .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#searchbox .row .styled-link {
  background-color: rgb(77, 77, 77);
  border: 1px solid black;
  color: white;
  max-width: 150px;
  overflow: hidden;
  flex: 1;
  margin: 0 10px;
  position: relative;
  padding: 2.5px;
  transition: 0.5s all;
  text-decoration: none;
  text-align: center;
}

#searchbox .row .styled-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

#searchbox .row .styled-link:hover::before {
  visibility: visible;
  width: 100%;
}

#searchbox .row .styled-link:hover {
  cursor: pointer;
  padding: 0.5px;
  transition: 0.5s all;
}
/*-----*/

#logo:hover{
  height: 48.5px!important;
}

#about{
  min-width: 75%;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Videó háttérként */
}

.navbar-nav .nav-link {
  border: 1px solid white;
  border-radius: 5px;
  max-width: 150px;
  text-align: center;
  margin: 0 5px;
  transition: 0.5s;
  padding: 5px;
}

.navbar-nav .nav-link:hover {
  background-color:rgb(255, 255, 255);
  color:rgb(0, 0, 0)!important;
  margin: 0 5px;
}

.center-logo {
  position: absolute;
  left: 50%;
  bottom: 0%;
  margin: 1px;
  transform: translateX(-50%);
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  user-select: none;
}

.dropdown-item:hover{
  background-color: rgb(77, 77, 77)!important;
  color: rgb(255, 255, 255)!important;
}


@media (max-width: 992px) {
  .navbar-nav {
    display: flex;
    flex-direction:row!important;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 50px;
  }

  .navbar-nav .nav-link {
    margin: 5px;
    max-width: 120px;
  }

  .center-logo {
    position: absolute;
    left: 50%;
    bottom: 25%;
    margin: 1px;
    transform: translateX(-50%);
    height: 40px !important;
  }

  #logo:hover{
    height: 38.5px!important;
  }

  .navbar-nav.ms-auto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-nav.ms-auto .nav-item {
    margin: 5px 0;
  }

  .navbar-nav.ms-auto .dropstart {
    margin: 10px 0;
  }

  .box{
    margin-top: -20vh;
    max-height: 60vh;
    min-width: 40vh;
    overflow: hidden;
    overflow-y: scroll;
  }

  #rightnav{
    margin-top: 5vh;
  }

  .d-flex {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}